# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List of Popular language that data scientists use
- List of commonly used Data Science libraries
- List of Data Science tools

Some of the popular languages that Data Scientists use are:
    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.pandas
2.numpy
3.matplotlib
4.seaborn

| Data Science Tools|
|---------------------|
|Jupyter Notebook|
|R studio|
|Apache Spark|
|Tensor Flow|

## Author
BHAVANI K

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min=200
hrs=200/60
print(hrs)

3.3333333333333335